if SHIELD_OVER_HEART_LEFT

config ZMK_KEYBOARD_NAME
    default "Over Heart"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_OVER_HEART_LEFT || SHIELD_OVER_HEART_RIGHT

config ZMK_SPLIT
    default y

endif
