#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV 1
#define NUM 2
#define SYS 3
#define BT 4

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
		td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };



	keymap {
			compatible = "zmk,keymap";

       		base_layer {
		bindings = <
		&td DQT SQT &td COMMA QUES	&td DOT EXCL	&kp P		&kp Y			&kp F		&kp G		&kp C		&kp R		&kp L
		&kp A		&kp O		&kp E		&kp U		&kp I			&kp D		&kp H		&kp T		&kp N		&kp S
		&mt LSHIFT SEMI	&kp Q	&kp J		&kp K		&kp X			&kp B		&kp H		&kp W		&kp V		&mt RSHIFT Z
          									&lt NUM ESC	&to NAV			&mt LGUI RET	&kp SPC
		>;
		};

       		nav_layer {
		bindings = <
		&trans  &kp ATSN   &kp LS(N3) &kp DLLR    &trans		&trans &kp LS(COMMA) &kp LS(DOT) &kp CARET &trans
		&kp TAB    &kp EQUAL    &kp LA(RBKT)      &kp LA(LS(RBKT))     &trans 		&trans &kp LBRC  &kp RBRC &kp PIPE  &kp AMPS
  		&kp TILDE    &kp GRAVE 	&kp LA(LBKT) &kp LA(LS(LBKT))  &to 0 	&to 2 &kp LPRN &kp RPRN &kp RBKT  &kp RSHIFT
					    &to BAS &to NUM  					&trans &kp N0
		>;
		};

			num_layer {
		bindings = <
		&td TILDE GRAVE	&kp C_PP	&kp C_PREV	&kp C_NEXT	&td LBRC RBKT	&kp STAR	&kp N7		&kp N8		&kp N9		&kp FSLH
		&kp TAB		&trans		&kp DOLLAR	&kp CARET	&td LPAR RPAR	&kp PLUS	&kp N4		&kp N5		&kp N6		&kp MINUS
		&kp 4		&kp PRCNT	&kp SLASH	&kp STAR	&td LBKT RBKT	&kp EQUAL	&kp N1		&kp N2		&kp N3		&kp BSLH
					  &to BAS &to NUM  				&to BASE &kp N0
		>;
		};

	};

};
