#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

#define DEF 0
#define NAV 1
#define NUM 2
#define FUN 3
#define BT 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
		td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
		lay_mt: layer_mod_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_MOD_TAG";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			bindings = <&mo>, <&to>;
		};
		shift_lay: shift_layer {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_MOD_TAG";
			#binding-cells = <2>;
			tapping-term-ms = <135>;
			flavor = "hold-preferred";
			bindings = <&mo>, <&to>;
		};
		td_sh_lk: tap_dance_shift_lock {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_SHIFT_LOCK";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&sk LSHIFT>, <&kp LSHIFT &kp LSHIFT>, <&kt LSHIFT>;
		};
    };

	macros {
		michael: michael {
			label = "Michael";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap &kp LS(M) &kp I &kp C &kp H &kp A &kp E &kp L>
				;
		};
		overman: overman {
			label = "Overman";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap &kp LS(O) &kp V &kp E &kp R &kp M &kp A &kp N>
				;
		};
		m_overman: m_overman {
			label = "Michael Overman";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&macro_tap &kp LS(M) &kp I &kp C &kp H &kp A &kp E &kp L>
				, <&macro_tap &kp SPACE>
				, <&macro_tap &kp LS(O) &kp V &kp E &kp R &kp M &kp A &kp N>
				;
		};
	};


	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&td DQT SQT	&td COMMA QMARK	&td DOT EXCL	&kp P	&kp Y		&kp F	&kp G	&kp C	&kp R	&kp L
				&kp A	&hm LCTRL O	&hm LALT E	&hm LGUI U	&kp I		&kp D	&hm RGUI H	&hm RALT T	&hm RCTRL N	&kp S
				&td SEMI COLON	&kp Q	&kp J	&kp K	&kp X		&kp B	&kp M	&kp W	&kp V	&kp Z
										&lay_mt NUM NAV	&td_sh_lk		&mt LGUI RET	&lt FUN SPACE
			>;
		};
		
		nav_layer {
			bindings = <
				&trans	&trans	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
				&trans	&trans	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
				&trans	&trans	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
										&trans	&trans		&trans	&trans
			>;
		};

		num_layer {
			bindings = <
				&td TILDE GRAVE	&kp PIPE	&kp TAB		&kp HASH	&td LBRC RBRC	&kp STAR	&kp N7		&kp N8		&kp N9		&td FSLH BSLH
				&kp AMPS		&kp CARET	&kp DOLLAR	&kp AT		&td LPAR RPAR	&kp PLUS	&kp N4		&kp N5		&kp N6		&kp MINUS
				&kp ESC			&kp PRCNT	&kp DEL		&kp BSPC	&td LBKT RBKT	&kp EQUAL	&kp N1		&kp N2		&kp N3		&kp UNDER
														&to 1 	&lay_mt LSHIFT SYS		&mt LGUI RET &kp N0
				>;
		};

		fun_layer {
			bindings = <
				&trans	&michael	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
				&trans	&overman	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
				&trans	&m_overman	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
										&trans	&trans		&trans	&trans
			>;
		};

		sys_layer {
			bindings = <
				&trans	&trans	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
				&trans	&trans	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
				&trans	&trans	&trans	&trans	&trans		&trans	&trans	&trans	&trans	&trans
										&trans	&trans		&trans	&trans
			>;
		};

	};
};
